.navbar {
  background-color: grey !important;
}
button.navbar-toggler {
  background-color: white;
}
li.nav-item {
  a.nav-link {
    color: white !important;
  }
}
button.nav-link {
  background-color: transparent;
  border: none;
  color: #ffffff !important;
}
@media (max-width: 840px) {
  div.mynav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    img {
      width: 70%;
    }
  }
}
